<div class="card">
    <div class="card-body">
        <div class="index">
            <div class="indexText">
                <img src="../../../assets/images/logo.png" width="400px">
                <br>
                <br>
                <br>
                <span>Master Juegos</span>
                <p>Diversión y aprendizaje para los más pequeños con juegos infantiles seguros y
                    resistentes, y estructuras metálicas de calidad.
                </p>
            </div>
            <img class="indexImage" src="../../../assets/images/index.jpg" width="600px" height="600">
        </div>
        <div class="us d-flex" id="us">
            <img src="../../../assets/images/index2.jpeg" width="200px">
            <div class="usText">
                <span>¿Quiénes Somos?</span>
                <p>Somos MasterJuegos, dedicados a la fabricación y ejecución de juegos infantiles y
                    máquinas de ejercicios para espacios públicos, contamos con amplia experiencia y
                    trayectoria en el rubro perfeccionándonos en la fabricación, instalación y mantención de
                    juegos.
        
                    Somos una empresa responsable que damos preferencia a productos nacionales, queriendo
                    entregar el mejor servicio a nuestros clientes.</p>
            </div>
        </div>
        <div class="contact d-flex" id="contact">
            <div class="contactText">
                <span>Contacto</span>
                <p><i class="fa fa-whatsapp fa-xl" aria-hidden="true"></i>+56 9 6332
                    2622 </p>
                <p><i class="fa fa-envelope-o fa-xl" aria-hidden="true"></i>
                    ventas@masterjuegos.cl </p>
            </div>
            <img src="../../../assets/images/index3.jpeg" width="200px">
        </div>
        <div style="text-align: center;">
            <span style="font-size: 20px;">© Copyright 2012 masterjuegos.cl</span>
        </div>
    </div>
</div>
